### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

publicMagic/publicMagic.iml
publicMagic/.idea
publicMagic/oop_project_pcShop_MayerSven/.idea
publicMagic/oop_project_pcShop_MayerSven/oop_project_pcShop_MayerSven.iml
publicMagic/oop_project_pcShop_MayerSven/.idea/vcs.xml
oop_project_pcShop_MayerSven/.idea
oop_project_pcShop_MayerSven/oop_project_pcShop_MayerSven.iml
oop_project_pcShop_MayerSven/.idea/vcs.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store