### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

publicMagic/publicMagic.iml
publicMagic/.idea
publicMagic/carApp/.idea
publicMagic/carApp/carApp.iml
publicMagic/carApp/.idea/vcs.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.xml
*.xml
carApp/.idea/modules.xml
carApp/carApp.iml
publicMagic.iml
