### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

publicMagic/publicMagic.iml
publicMagic/.idea
publicMagic/pc_hardware_database_pcShop/.idea
publicMagic/pc_hardware_database_pcShop/oop_project_pcShop_MayerSven.iml
publicMagic/pc_hardware_database_pcShop/.idea/vcs.xml
pc_hardware_database_pcShop/.idea
pc_hardware_database_pcShop/oop_project_pcShop_MayerSven.iml
pc_hardware_database_pcShop/.idea/vcs.xml
pc_hardware_database_pcShop/production

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store